/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

ul.nav, .jumbotron h1 {
	font-family: 'Arvo', courier, serif;
	/*line-height: 1.5; */
}

ul.nav {
	font-size: 13px;
}

/*in class of jumbotron*/

.jumbotron{
	text-align: center;
	background-image: url('../images/hero_image.jpg');
	color: white;
}

.jumbotron h1 {
	margin-top: 0px;
	margin-bottom: 50px;
}

.jumbotron p {
	margin-bottom: 30px;
	font-weight: 50px;
	padding: 0px 50px;
}


.btn-lg {
	font-size: 36px
}
